<!-- FOOTER -->
<div id="footer">
	{{^production}}
		Version: <strong>##VERSION##</strong>
		Build Time: <strong>##BUILD_TIME##</strong>
		Environment: <strong>{{get_env}}</strong>
	{{/production}}

	<div class="clear"></div>
</div>
<!-- /FOOTER -->
